<!DOCTYPE html>
<html lang="en">
<head>
  <title>Til Salgs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.9.1/tachyons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css">
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
  <body class="w-100 sans-serif bg-white">
  	{{block "main" .}}{{ end }}
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
  </body>
</html>
