{{ define "main" }}
<section class="cf w-100 pa2-ns flex flex-wrap">
  {{ range .Resources.ByType "image"}}
  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <a data-fancybox="gallery" href="{{ .RelPermalink }}" class="ph2 ph0-ns pb3 link dim db">
      <div class="aspect-ratio aspect-ratio--1x1">
        {{ $img := .Fill "500x500" }}
        <img style="background-image:url({{ $img.RelPermalink }});"
        class="db bg-center cover aspect-ratio--object" />
      </div>
      <h3 class="f5 f4-ns mb0 black-90">{{ .Title }}</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">Subtitle of piece {{ .Title }}</h3>
    </a>
  </article>
  {{ end }}
</section>
{{ end }}